@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/bootstrap-vue/src/index.scss';
@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap');
@import './variables.scss';

body {
  background-color: $background-color;
}

#app {
  font-family: 'Baloo Paaji 2', cursive;
  font-size: 2vw;
  padding-top: 5%;
}

h1 {
  font-size: $base-font-size;
  font-weight: 600;
  color: $primary-text-color;
  text-transform: uppercase;
}
h2 {
  font-weight: 600;
  font-size: $base-font-size / 2;
  color: $highlite-color;
}
h3 {
  color: $highlite-color;
}
h4 {
  color: $highlite-color;
}
h5 {
  font-weight: 600;
  color: $primary-text-color;
  font-size: $base-font-size / 3;
}
h6 {
  color: $highlite-color;
  font-size: $base-font-size / 3;
}
p {
  font-size: $base-font-size / 4;
  color: $primary-text-color;
}
.secondary-text {
  color: $secondary-text-color;
}
p.bold {
  font-weight: 600;
}
button {
  border: 0px;
  border-bottom: 2px solid $background-color-light;
  background-color: $background-color;
  color: $secondary-text-color;
  &:focus {
    outline: none;
    border: 0px;
    background-color: $background-color-light;
    color: $highlite-color;
  }
}

.main-content .row {
  margin: 2vh 0 2vh 0;
}

