$background-color:#191C1F;
$background-color-light:#2D2C2C;
$highlite-color:#FFC203;
$primary-text-color:#FFFFFF;
$secondary-text-color:#B2B5B7;
$base-font-size: 6rem;
$desktop-base-font-size: 3rem;